<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form
                data-request="onWalletCharge"
                data-request-confirm="آیا از میزان شارژ مطمئن هستید"
            >
                <div class="form-group">
                    <label for="wallet_charge">
                        مقدار شارژ
                    </label>
                    <input type="number" min="0" step="5000" id="wallet_charge" name="wallet_charge"
                           class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">ذخیره مقدار جدید</button>
                </div>
            </form>

            <span>            میزان شارژ کیف پول شما :</span>
            <span class="badge badge-primary">{{ wallet }}</span>
        </div>
    </div>
</div>