<div class="row">
    <div class="col-md-12">
        <form data-request="onWalletCharge" data-request-flash>
        <label class="col-md-2" style="text-align: left" for="price"> مبلغ شارژ (ریال)</label>
            <input type="number" min="1000" step="1000" id="price" name="price" class="col-md-6">
            <button type="submit" class="btn btn-primary">شارژ کیف پول</button>
        </form>
    </div>
    <div>
        {{message}}
    </div>
    <div class="col-md-12 payList">
        {% partial __SELF__ ~ '::_list' %}
    </div>
</div>
